<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Найти самое частое слово</title> <! --отображение во вкладке браузера--!>
</head>
<body>
    <h1>Загрузите текстовый файл</h1> <! --заголовок первого уровня--!>
    <form action="/" method="post" enctype="multipart/form-data">
       <! --HTML-форма, action определяет URL, куда будут отправлены данные формы, method указывает метод отправки данных--!>
        <! --enctype — способ кодирования данных формы при отправке на сервер.--!>
        <input type="file" name="file" accept=".txt"> <! --поле для загрузки файла для выбора на странице--!>
        <input type="submit" value="Загрузить"> <! --Этот элемент создаёт кнопку для отправки формы-!>
    </form>
</body>
</html>